<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Frog Development 2015.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DataSource -->
    <!--<bean id="dataSourceMySql" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">-->
    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/asso_plus"/>-->
    <!--<property name="username" value="root"/>-->
    <!--<property name="password" value="root" />-->
    <!--<property name="validationQuery" value="SELECT 1"/>-->
    <!--</bean>-->
    <bean id="dataSourceMySql" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
        <property name="serverName" value="127.0.0.1"/>
        <property name="databaseName" value="asso_plus"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="jdbcTemplateMySql" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSourceMySql"/>
    </bean>

    <bean id="tmMySql" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceMySql"/>
    </bean>

    <bean id="eventDao" class="fr.frogdevelopment.assoplus.dao.EventDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplateMySql"/>
    </bean>

</beans>